.device-1 {
  position: absolute;
  z-index: 10;
  scale: 0.8;
  opacity: 0;
}
.device-1.animate {
  animation-name: device-1-animate;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.device-2 {
  position: absolute;
  scale: 0.8;
  opacity: 0;
}

.device-2.animate {
  animation-name: device-2-animate;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes device-1-animate {
  from {
    top: 0px;
    right: 100px;
    opacity: 1;
  }
  to {
    top: 35px;
    right: -80px;
    rotate: 63deg;
    opacity: 1;
  }
}

@keyframes device-2-animate {
  from {
    top: 0px;
    right: -400px;
    rotate: 45deg;
    opacity: 1;
  }
  to {
    top: 20px;
    right: -120px;
    rotate: -28deg;
    opacity: 1;
  }
}

@media (max-width: 1300px) {
  @keyframes device-1-animate {
    from {
      bottom: -200px;
      left: -12%;
      opacity: 1;
    }
    to {
      bottom: -205px;
      left: -17%;
      rotate: 63deg;
      opacity: 1;
    }
  }

  @keyframes device-2-animate {
    from {
      bottom: -205px;
      left: 12%;
      rotate: 45deg;
      opacity: 1;
    }
    to {
      bottom: -255px;
      left: 1%;
      rotate: -28deg;
      opacity: 1;
    }
  }
}

@media (max-width: 1024px) {
  @keyframes device-1-animate {
    from {
      bottom: -145px;
      left: -15%;
      opacity: 1;
    }
    to {
      bottom: -95px;
      left: -23%;
      rotate: 63deg;
      opacity: 1;
      scale: 1.1;
    }
  }

  @keyframes device-2-animate {
    from {
      bottom: -155px;
      left: 12%;
      rotate: 45deg;
      opacity: 1;
    }
    to {
      bottom: -185px;
      left: -8%;
      rotate: -28deg;
      opacity: 1;
      scale: 1;
    }
  }
}

@media (max-width: 763px) {
  @keyframes device-1-animate {
    from {
      bottom: 150px;
      left: -15%;
      opacity: 1;
    }
    to {
      bottom: 50px;
      left: -23%;
      rotate: 63deg;
      opacity: 1;
      scale: 1.6;
    }
  }

  @keyframes device-2-animate {
    from {
      bottom: 150px;
      left: 12%;
      rotate: 45deg;
      opacity: 1;
    }
    to {
      bottom: 0px;
      left: -8%;
      rotate: -28deg;
      opacity: 1;
      scale: 1.4;
    }
  }
}
