.rain {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.rain.back-row {
  display: none;
  z-index: 1;
  bottom: 60px;
  opacity: 0.5;
}

.drop {
  position: absolute;
  bottom: 100%;
  width: 15px;
  height: 120px;
  pointer-events: none;
  animation: drop 0.5s linear infinite;
}

.stem {
  width: 2px;
  height: 60%;
  margin-left: 7px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.5)
  );
  animation: stem 1s linear infinite;
}

.splat {
  width: 15px;
  height: 10px;
  border-top: 3px dotted rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  opacity: 1;
  transform: scale(0);
  animation: splat 0.5s linear infinite;
  display: none;
}

@keyframes drop {
  0%,
  100% {
    transform: translateY(-100vh); /* Start and end off screen upwards */
  }
  50% {
    transform: translateY(100vh); /* Move to bottom */
  }
}

@keyframes stem {
  0%,
  100% {
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
}

@keyframes splat {
  0%,
  100% {
    transform: scale(0);
    opacity: 0;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
  60% {
    transform: scale(1.5);
    opacity: 0;
  }
}
